# Node / Next.js
node_modules/
.npmrc
npm-debug.log*
yarn.lock
pnpm-lock.yaml
.pnpm-debug.log*
package-lock.json

.github
.gitignore

# Build / Output
.next/
out/
.vercel/
.vercel_build_output/
.turbo/
dist/
coverage/

# Cloudflare (next-on-pages)
.workers/
.wrangler/
functions/
.vscode/settings.json

# Environnements
.env
.env.*
!.env.local.example

# Systèmes / Éditeurs
.DS_Store
Thumbs.db
*.swp
*.swo
*.log

# Cache
.cache/
eslintcache
*.tsbuildinfo

# Images temporaires
public/images/**/.gitkeep
# (Ne pas ignorer vos vraies images)
